@import '../_variables.scss';

$ld-cols:       3;
$md-cols:       2;
$sd-cols:       1;
$gap:           30px;
$line-size:     1px;

.bmw-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;

    .bmw-list-item {
        flex: 0 0 calc((100% - (#{$ld-cols} - 1) * #{$gap}) / #{$ld-cols});
        padding: 45px 0;


        @media screen and (min-width: $m-device + 1) {    
            &:not(:nth-child(#{$ld-cols}n)) {
                margin-right: $gap;
            }
        }

        @media screen and (max-width: $m-device) {
            & {
                flex-basis: calc((100% - (#{$md-cols} - 1) * #{$gap}) / #{$md-cols});
                padding: 0 0 30px 0;
            }

            &:last-child {
                padding-bottom: 80px;
            }

            &:not(:nth-child(#{$md-cols}n)) {
                margin-right: $gap;
            }
        }

        @media screen and (max-width: $s-device) {
            & {
                flex-basis: 100%;
                margin-right: 0;
            }

            &:not(:nth-last-child(-n + #{$sd-cols})) {
                padding: 0 0 30px 0;
            }
        }

        p {
            margin: 0;
        }
    
        .bmw-list-heading {
            font: 700 13px $font-primary, sans-serif;
            color: black;
            border-bottom: $line-size solid rgba(112, 112, 112, .25);
            box-sizing: content-box;
    
            p {
                display: inline-block;
                position: relative;
    
                &::before {
                    height: $line-size;
                    background-color: #6d6d6d;
                    bottom: -$line-size;
                    left: 0;
                    @extend %before-empty;
                }
            }
        }
    
        .bmw-list-content {
            padding-top: 30px;
        }  
    }
}