/* * * * * Colors * * * * */
$white: white;
$grey: #707070;
$text-dark: #4e4e4e;
$primary-blue: #3369d3;
$light-blue:  #5b8cee;

/* * * * * Fonts * * * * */
$font-primary: 'Cairo';
$font-secondary: 'Open Sans';
$font-tertiary: 'Roboto';

/* * * * * Device breakpoints * * * * */
$s-device: 799px;
$m-device: 1023px;

/* * * * * Placeholders * * * * */
%before-empty {
    display: block;
    width: 100%;
    content: '';
    position: absolute;
}

/* * * * * Mixins * * * * */
@mixin transition($properties) {
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -ms-transition: $properties;
    -o-transition: $properties;
    transition: $properties;
}