$white: white;
$text-dark: #4e4e4e;
$primary-blue: #3369d3;
$light-blue:  #5b8cee;

$primary-font: 'Cairo';
$secondary-font: 'Open Sans';

%before-empty {
    display: block;
    width: 100%;
    content: '';
    position: absolute;
}

@mixin transition($properties) {
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -ms-transition: $properties;
    -o-transition: $properties;
    transition: $properties;
}