@import '_variables.scss';

$fluid-width:           75%;
$fluid-irr-width:       82.5%;

.bmw-fluid-container {
    width: $fluid-width;
    margin: 0 auto;

    &.irregular-left, &.irregular-right  {
        width: $fluid-irr-width;
    }

    &.irregular-left {
        margin: 0 auto 0 ((100% - $fluid-width) / 2);
    }

    &.irregular-right {
        margin: 0 ((100% - $fluid-width) / 2) 0 auto;
    }

    @media screen and (max-width: $s-device) {
        & {
            width: 90%;
        }
    }
}

.bwm-text-1 {
    font: 700 36px $font-primary, sans-serif;
    color: black;

    @media screen and (max-width: $s-device) {
        & {
            font-size: 24px;
        }
    }
}

.bwm-text-2 {
    font: 300 20px $font-secondary, sans-serif;
    color: #707070;

    @media screen and (max-width: $s-device) {
        & {
            font-size: 16px;
        }
    }
}