@import '_variables.scss';

$fluid-width:           75%;
$fluid-irr-width:       82.5%;

@media screen and (max-width: $s-device) {
    html {
        font-size: 75%;
    }
}

button, button:focus {
    outline: none;
}

.bmw-website {
    position: relative;
}

.bmw-fluid-container {
    width: $fluid-width;
    margin: 0 auto;

    &.irregular-left, &.irregular-right  {
        width: $fluid-irr-width;
    }

    &.irregular-left {
        margin: 0 auto 0 ((100% - $fluid-width) / 2);
    }

    &.irregular-right {
        margin: 0 ((100% - $fluid-width) / 2) 0 auto;
    }

    @media screen and (max-width: $l-device) {
        & {
            width: 82.5%;
        }
    }

    @media screen and (max-width: $m-device) {
        &.irregular-left, &.irregular-right {
            margin: 0 auto;
        }
    }

    @media screen and (max-width: $s-device) {
        & {
            width: 90%;
        }

        &.irregular-left, &.irregular-right {
            width: 100%;
        }
    }
}

/* * * * * Cairo Bold 36 px * * * * */
.bmw-text-1 {
    font: 700 2.25rem $font-primary, sans-serif;
    color: black;
    line-height: 104%;
}

/* * * * * Cairo SemiBold 20px * * * * */
.bmw-text-8 {
    font: 600 1.25rem $font-primary, sans-serif;
    color: black;
}

/* * * * * Open Sans Light 20px * * * * */
.bmw-text-2 {
    font: 300 1.25rem $font-secondary, sans-serif;
    color: $grey;
}

/* * * * * Roboto Light 14px * * * * */
.bmw-text-3 {
    font: 300 .875rem $font-secondary, sans-serif;
    color: $text-dark;

    @media screen and (max-width: $s-device) {
        & {
            font-size: 1.083rem;
        }
    }
}

/* * * * * Roboto Light 20px * * * * */
.bmw-text-4 {
    font: 300 20px $font-tertiary, sans-serif;
    color: $grey;
}

/* * * * * Roboto Bold / Medium 14px * * * * */
.bmw-text-5 {
    font: 700 .875rem $font-tertiary, sans-serif;
    color: $grey;

    @media screen and (max-width: $s-device) {
        & {
            font-weight: 500;
        }
    }
}

/* * * * * Open Sans Regular 14px * * * * */
.bmw-text-6 {
    font: .875rem $font-secondary, sans-serif;
    color: $text-dark;
}

/* * * * * Open Sans Regular 20px * * * * */
.bmw-text-7 {
    font: 1.25rem $font-secondary, sans-serif;
    color: $grey;
}