@import '_variables.scss';

.bmw-footer {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;

    a {
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .bmw-footer__main {
        display: flex;
        flex-direction: column;
    }

    .bmw-footer__sm {
        display: flex;
        padding: 36px 0;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid #bebebe;

        @media screen and (max-width: $s-device) {
            & {
                flex-direction: column;
                align-items: flex-start;
                padding: 90px 0;
            }
        }

        ul {
            height: 40px;
            margin-left: 30px;

            @media screen and (max-width: $s-device) {
                & {
                    margin-left: 0;
                }
            }

            li {
                display: inline-block;
                height: 100%;

                &:not(:last-child) {
                    margin-right: 20px;
                }


                /* * * * * Social media hover colors * * * * */

                &.sm-facebook:hover > a > svg {
                    fill: #129cf7;
                }

                &.sm-instagram:hover > a > svg {
                    fill: #e250be;
                }

                &.sm-youtube:hover > a > svg {
                    fill: #f70000;
                }

                &.sm-linkedin:hover > a > svg {
                    fill: #0288c4;
                }

                &.sm-twitter:hover > a > svg {
                    fill: #1c9cea;
                }

                /* * * * * * * * * * * * * * * * * * * * * * * * */


                svg {
                    height: 24px;
                    padding: 8px;
                    fill: #212121;
                    @include transition(.15s ease-in-out)
                }
            }
        }
    }

    .bmw-footer__nav {
        display: flex;
        padding: 96px 0;

        @media screen and (max-width: $s-device) {
            & {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        div {
            flex: 1 1 auto;

            @media screen and (max-width: $s-device) {
                &:not(:last-child) {
                    margin-bottom: 60px;
                }
            }
        }

        h4 {
            margin-top: 0;
        }

        a, a:visited {
            color: $grey;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .bmw-footer__copyright {
        padding: 20px 0;
        background-color: white;

        p {
            margin: 0;

            @media screen and (max-width: $s-device) {
                & {
                    text-align: center;
                }
            }
        } 
    }
}