@import '_variables.scss';

button, input[type=submit] {
    border: none;
    cursor: pointer;
}

.bmw-default-btn {
    padding: 15px 90px;
    font: 600 18px $primary-font, sans-serif;
    color: $white;
    background-color: $primary-blue;
    @include transition(.2s ease-out);

    &:hover {
        background-color: $light-blue;
    }
}