@import '_variables.scss';

$navigation-v-padding: 26px;
$navigation-line-size: 2px;

.bmw-header {
    width: 100%;
    position: relative;
    overflow: hidden;

    a {
        text-decoration: none;
    }

    .bmw-header-slider {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        .bmw-header-slider-grad {
            width: 70%;
            height: 100%;
            background: linear-gradient( to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            opacity: .75;
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
        }

        .bmw-header-slider-btn-ctn {
            position: absolute;
            bottom: 32px;
            z-index: 2;

            button {
                width: 60px;
                height: 5px;
                padding: 0;
                position: relative;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &::before {
                    height: 100%;
                    background-color: $primary-blue;
                    top: 0;
                    left: 0;
                    transform-origin: center center;
                    transform: scaleX(0);
                    @extend %before-empty;
                    @include transition(.2s ease-out);
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    .bmw-header-top-content, .bmw-header-content {
        position: relative;
        z-index: 1;

        * {
            color: white;
        }
    }

    .bmw-header-top-content {
        display: flex;
        flex-direction: column;

        .bmw-row {
            display: flex;
            align-items: center;
        }

        .bmw-paragraph {
            margin: 8px 40px 0 auto;
            font: 16px $primary-font;
        }
        
        nav {
            ul {
                flex: 1 1 auto;
                margin: 0 auto 0 0;
                padding: $navigation-v-padding 0;
                list-style: none;
                border-bottom: $navigation-line-size solid rgba(255, 255, 255, .25);
    
                li {
                    display: inline-block;

                    &:not(:last-child) {
                        padding-right: 60px;
                    }
    
                    a {
                        display: inline-block;
                        font: 700 18px $primary-font, sans-serif;
                        position: relative;

                        &::before {
                            height: $navigation-line-size;
                            background-color: $primary-blue;
                            bottom: -($navigation-v-padding + $navigation-line-size);
                            left: 0;
                            transform-origin: 0 center;
                            transform: scaleX(0);
                            @extend %before-empty;
                            @include transition(.2s ease-out);
                        }

                        &:hover::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        } 
    }

    .bmw-header-content {
        padding-bottom: 54px;

        h1, h2, h3, h4, h5, h6, p {
            margin: 0;
        }

        h2 {
            font-size: 64px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            font-weight: 600;
        }
        
        .bmw-header-heading {
            padding: 79px 0;
        }

        .bmw-header-button-wrapper {
            text-align: center;
        }
    }
}