@import '_variables.scss';

$navigation-v-padding: 26px;
$navigation-line-size: 2px;

.bmw-header {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $text-dark;

    a {
        text-decoration: none;
    }

    .bmw-slider {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        .bmw-slider__bg-grad {
            width: 70%;
            height: 100%;
            background: linear-gradient( to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            opacity: .75;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .bmw-slider__slide-1 {
            background: no-repeat center/cover url('./assets/slider/slider-header-1.jpg')
        }

        .bmw-slider__slide-2 {
            background: no-repeat center/cover url('./assets/slider/slider-header-2.jpg')
        }

        .bmw-slider__slide-3 {
            background: no-repeat center/cover url('./assets/slider/slider-header-3.jpg')
        }
    }

    .bmw-slider__pagination {
        position: absolute;
        bottom: 74px;
        z-index: 3;

        .swiper-pagination-bullet {
            display: inline-block;
            width: 60px;
            height: 5px;
            padding: 0;
            background-color: $white;
            position: relative;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 15px;
            }

            &::before {
                height: 100%;
                background-color: $primary-blue;
                top: 0;
                left: 0;
                transform-origin: center center;
                transform: scaleX(0);
                @extend %before-empty;
                @include transition(.2s ease-out);
            }

            &.swiper-pagination-bullet-active::before, &:hover::before {
                transform: scaleX(1);
            }
        }
    }

    .bmw-header__top-content, .bmw-header__content {
        position: relative;
        z-index: 1;

        * {
            color: white;
        }
    }

    .bmw-header__top-content {
        display: flex;
        flex-direction: column;

        .bmw-row {
            display: flex;
            align-items: center;
        }

        .bmw-header__slogan {
            margin: 8px 40px 0 auto;
            font: 16px $primary-font;
        }
        
        .top-content__nav {
            .nav__menu {
                flex: 1 1 auto;
                margin: 0 auto 0 0;
                padding: $navigation-v-padding 0;
                list-style: none;
                border-bottom: $navigation-line-size solid rgba(255, 255, 255, .25);
    
                li {
                    display: inline-block;

                    &:not(:last-child) {
                        padding-right: 60px;
                    }
    
                    a {
                        display: inline-block;
                        font: 700 18px $primary-font, sans-serif;
                        position: relative;

                        &::before {
                            height: $navigation-line-size;
                            background-color: $primary-blue;
                            bottom: -($navigation-v-padding + $navigation-line-size);
                            left: 0;
                            transform-origin: 0 center;
                            transform: scaleX(0);
                            @extend %before-empty;
                            @include transition(.2s ease-out);
                        }

                        &:hover::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        } 
    }

    .bmw-header__content {
        padding-bottom: 54px;

        h1, h2, h3, h4, h5, h6, p {
            margin: 0;
        }

        .heading__caption {
            font-size: 64px;
            font-weight: 700;
        }

        .bmw-header__slogan {
            font-size: 16px;
            font-weight: 600;
        }
        
        .content__heading {
            padding: 190px 0;
        }

        .content__td-button:hover {
            box-shadow: 0 6px 16px rgba(20, 20, 20, .2);
        }

        .content__button-wrapper {
            text-align: center;
        }
    }
}