@import '_variables.scss';

.bmw-td-form {
    padding: 200px 0;
    position: relative;

    @media screen and (max-width: $s-device) {
        & {
            padding: 600px 0;
        }
    }

    .bmw-text-1 {
        position: relative;

        sup {
            font-size: 60%;
            position: relative;
            top: -0.33rem;
            vertical-align: top;
        }
    }

    .bmw-td-form__ty-wrapper {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: rgba(1, 0, 2, .9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        touch-action: none;
        @include transition(.33s ease-out);

        &.active {
            visibility: visible;
            opacity: 1;
        }

        .bmw-td-form__ty-container {
            width: 270px;
            color: white;
            text-align: center;

            .ty-container__thank-you {
                margin-bottom: 10px;
                font: 700 24px $font-primary, sans-serif;
            }

            .ty-container__contact {
                margin: 0;
                font: 13px $font-tertiary, sans-serif;
            }

            .ty-container__ok-btn {
                margin-top: 60px;
            }
        }
    }

    .bmw-td-form__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;

        img {
            position: absolute;
        }

        .bg__img-1 {
            bottom: 215px;
            right: 50%;
            transform: translateX(calc(-50% + 245px));
            z-index: 2;

            @media screen and (max-width: $s-device) {
                & {
                    bottom: 140px;
                    transform: translateX(calc(-50% + 850px));
                }
            }
        }

        .bg__img-2 {
            top: 400px;
            left: 50%;
            transform: translateX(calc(-50% + 466px));
            z-index: 2;

            @media screen and (max-width: $s-device) {
                & {
                    top: 160px;
                    transform: translateX(calc(-50% - 270px));
                }
            }
        }

        .bg__img-3 {
            bottom: 400px;
            right: 50%;
            transform: translateX(calc(-50% - 90px));
            z-index: 1;

            @media screen and (max-width: $s-device) {
                & {
                    bottom: 320px;
                    transform: translateX(calc(-50% + 500px));
                }
            }
        }

        .bg__img-4 {
            top: 580px;
            right: 50%;
            transform: translateX(calc(-50% + 810px));
            z-index: 1;

            @media screen and (max-width: $s-device) {
                & {
                    top: 300px;
                    transform: translateX(calc(-50% + 80px));
                }
            }
        }

        .bg__img-5 {
            bottom: -50px;
            left: 50%;
            transform: translateX(calc(-50% + 80px));

            @media screen and (max-width: $s-device) {
                & {
                    display: none;
                }
            }
        }

        .bg__img-6 {
            top: 400px;
            left: 50%;
            transform: translateX(calc(-50% - 390px));

            @media screen and (max-width: $s-device) {
                & {
                    display: none;
                }
            }
        }
    }

    .bmw-fluid-container {
        @media screen and (min-width: $s-device + 1px) {
            & {
                width: 100%;
            }
        }
    }

    .bmw-td-form__form-container {
        width: 812px;
        margin: 0 auto;
        padding: 90px;
        background-color: white;
        position: relative;
        z-index: 1;
        box-shadow: 3px 3px 60px rgba(0, 0, 0, .07);
        box-sizing: border-box;

        @media screen and (max-width: $m-device) {
            & {
                width: 80%;
            }     
        }

        @media screen and (max-width: $s-device) {
            & {
                width: 100%;
                padding: 0;
                background-color: transparent;
                box-shadow: none;
            }
        }

        .form-container__form {
            margin-top: 90px;

            .bmw-text-8 {
                @media screen and (max-width: $s-device) {
                    & {
                        margin: 0;
                    }
                }
            }
    
            .form__list, .form__sex-radios {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            .form__list {
                .list__item {
                    padding: 15px 0;

                    @media screen and (max-width: $s-device) {
                        &:first-child, &:last-child {
                            padding: 0;
                        }

                        &:not(:first-child):not(:last-child) {
                            padding: 0 0 15px 0;
                        }
                    }
                }
            }
        
            .form__sex-radios {
                .sex-radios__item {
                    display: inline-flex;
                    align-items: center;
        
                    &:not(:last-child) {
                        margin-right: 30px;
                    }

                    @media screen and (max-width: $s-device) {
                        & {
                            padding: 30px 0;
                        }
                    }

                    input[type=radio] {
                        width: 24px;
                        height: 24px;
                        margin: 0 10px 0 0;
                        position: relative;
                        cursor: pointer;
                        appearance: none;

                        &::before {
                            width: 100%;
                            height: 100%;
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 50%;
                            border: 1px solid #dcdcdc;
                            box-sizing: border-box;
                        }

                        &::after {
                            width: 14px;
                            height: 14px;
                            content: '';
                            background-color: $primary-blue;
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            border-radius: 50%;
                            opacity: 0;
                            @include transition(.2s ease-out);
                        }

                        &:checked::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        
        .form__input-t {
            width: 75%;
            padding: 10px 20px;
            border: 1px solid rgba(112, 112, 112, .25);
            box-sizing: border-box;

            @media screen and (max-width: $s-device) {
                & {
                    width: 100%;
                }
            }
        }

        .bmw-default-btn {
            margin-top: 30px;
        }
    }
}